   <nav class="navbar navbar-expand-lg fixed-top shadow" id="mainNav" [ngClass]="{
     'navbar-light':selectedTheme=='light',
     'bg-light':selectedTheme=='light',
     'bg-dark':selectedTheme=='dark',
     'navbar-dark':selectedTheme=='dark'
   }" > 
    <div class="container">
      <a class="navbar-brand" href="#page-top" [routerLink]="['']" fragment="headSite" (click)="scrollToAnchor('headSite',100)"  ><img [src]="LOGO" alt="dMy Blog" class="logo-header rounded-circle"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item "  *ngIf="!isSignIn">
            <a class="nav-link " [routerLink]="['']" fragment="headSite" (click)="scrollToAnchor('headSite',100)" >{{"menu.home"|translate}}</a>
          </li>
          <li class="nav-item"  *ngIf="!isSignIn">
              <a class="nav-link"  [routerLink]="['']" fragment="features" (click)="scrollToAnchor('features',100)">{{"menu.features"|translate}}</a>
          </li>
          <li class="nav-item"  *ngIf="!isSignIn">
              <a class="nav-link"  [routerLink]="['']"  fragment="howto" (click)="scrollToAnchor('howto',100)">{{"menu.howto"|translate}}</a>
          </li>
          
          <li class="nav-item" *ngIf="isSignIn">
            <a class="nav-link " [routerLinkActive]="['active']" [routerLink]="['/blog/'+ userName]" >{{"menu.myblog"|translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/browse']">{{"menu.browse"|translate}}</a>
          </li>
          <li class="nav-item"  >
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/faq']" >{{"menu.faq"|translate}}</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a class="text-info "   [routerLink]="['/settings']" *ngIf="isSignIn">{{userName}} <i class="fas fa-cog"></i> </a>&nbsp;&nbsp;
          <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="signIn()" *ngIf="!isSignIn" id="stepLogIn">{{"menu.signin"|translate}}</button>
          <button class="btn btn-primary my-2 my-sm-0" type="button" (click)="signOut()" *ngIf="isSignIn">{{"menu.signout"|translate}}</button>

          
          <div class="btn-toolbar pl-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-warning"   (click)="onThemeChange('light')" title="{{'menu.lightmode'|translate}}" >
                <i class="far fa-sun"></i>
              </button>
              <button type="button" class="btn btn-secondary"   (click)="onThemeChange('dark')"  title="{{'menu.darkmode'|translate}}">
                <i class="far fa-moon"></i>
              </button>
            </div>
          </div>
          <select class="form-control" (ngModelChange)="onLangChange($event)" [ngModel]="selectedLang"  name="selectedLang">
              <option [ngValue]="i" *ngFor="let i of langCat">{{i.name}}</option>
          </select>
      </form>
      </div>
    </div>
  </nav>