<button title="Help" class="btn btn-link float-button" (click)="startTour(true)" *ngIf="!isNewPost && !isUpdatePost">
  <i class="fas fa-question fa-2x"></i>
</button>
<div class="container top-padding" *ngIf="!isNewPost && !isUpdatePost">    
  <h2 class="display-4 " id="step0">{{userName}} </h2>

  <div class="card shadow-sm">
    <div class="card-body"  >
      <form novalidate (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
        <div id="step1">
        <div class="form-group row">
          <label for="blogName" class="col-sm-3 col-form-label">Blog name:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="blogName"  placeholder="Blog name" formControlName="blogName"
                     [ngClass]="{'is-invalid':(blogName.touched || blogName.dirty) && !blogName.valid}" />
              <span class="invalid-feedback" *ngIf="blogName.invalid && (blogName.touched || blogName.dirty) ">
                  <span *ngIf="blogName.errors.required">Blog name is required.</span>
                  <span *ngIf="blogName.errors.maxlength">Max blog name length 64.</span>
              </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="blogDescription" class="col-sm-3 col-form-label">Blog Description:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="blogDescription" placeholder="Blog description" formControlName="blogDescription"
                     [ngClass]="{'is-invalid':(blogDescription.touched || blogDescription.dirty) && !blogDescription.valid}" />
              <span class="invalid-feedback" *ngIf="blogDescription.invalid && (blogDescription.touched || blogDescription.dirty) ">
                  <span *ngIf="blogDescription.errors.required">Blog description is required.</span>
                  <span *ngIf="blogDescription.errors.maxlength">Max blog description length 1024.</span>
              </span>
          </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-3 col-form-label">Blog header image:</label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" accept="image/*" name="file" (change)="handleInputChange($event)">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
            </div>
        </div>
      </div>

        <div class="float-md-right" id="step2">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >Save</button>
        </div>

      </form>
    </div>
  </div>
  
  <h2 class="display-4">My Posts</h2>
    
  
  
  <div class="card shadow-sm">
    <div class="card-body">
        <div >
            <div >
                <button id="step3"  type="button" (click)="showNewPost()" class="btn btn-link float-right" >New Post <i class="far fa-file"></i></button>
                <label *ngIf="posts.length === 0" for="btnNewPost" class="float-right mt-2">There is nothing yet!, try add</label> 
            </div>
        </div>

        
      <div id="step4">
        <table class="table table-borderless table-hover" *ngIf="(posts.length > 0)"   >
          <thead>
            <tr>
              <th scope="col">Title</th>
              <!-- <th scope="col">Content</th> -->
              <th scope="col">Date</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of posts">
              <th class="small" scope="row">{{p.title}}</th>
              <!-- <td col="2" >{{p.excerpt}}</td> -->
              <td class="small">{{p.date|date:'medium'}}</td>
              <td class="float-right small">
                <div class="btn-group" role="group" aria-label="Actions">
                  <button type="button" class="btn btn-primary btn-sm" title="share post"  data-toggle="modal" data-target="#share" (click)="sharePost($event,p)"><i class="fas fa-share-alt"></i></button>&nbsp;
                  <button type="button" class="btn btn-primary btn-sm" title="Edit post" (click)="editPost(p)"><i class="far fa-edit"></i></button>&nbsp;
                  <button type="button" class="btn btn-danger btn-sm" title="Delete post" (click)="deletePost(p)">&nbsp;<i class="far fa-trash-alt">&nbsp;</i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

</div>



<div *ngIf="isNewPost || isUpdatePost" >
  <app-post [Post]="selectedPost" (closed)="onClosed($event)"></app-post>
</div>



<!-- Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Share this Post!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-blog-share [Post]="shareablePost"  [PostUser]="userName"></app-blog-share>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>