<div class="container top-padding" *ngIf="!isNewPost">
  <h2 class="display-4">{{userName}}</h2>

  <div class="card shadow-sm">
    <div class="card-body">
      <form novalidate (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
        <div class="form-group row">
          <label for="blogName" class="col-sm-3 col-form-label">Blog name:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="blogName"  placeholder="Blog name" formControlName="blogName"
                     [ngClass]="{'is-invalid':(blogName.touched || blogName.dirty) && !blogName.valid}" />
              <span class="invalid-feedback" *ngIf="blogName.invalid && (blogName.touched || blogName.dirty) ">
                  <span *ngIf="blogName.errors.required">Blog name is required.</span>
                  <span *ngIf="blogName.errors.maxlength">Max blog name length 64.</span>
              </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="blogDescription" class="col-sm-3 col-form-label">Blog Description:</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="blogDescription" placeholder="Blog description" formControlName="blogDescription"
                     [ngClass]="{'is-invalid':(blogDescription.touched || blogDescription.dirty) && !blogDescription.valid}" />
              <span class="invalid-feedback" *ngIf="blogDescription.invalid && (blogDescription.touched || blogDescription.dirty) ">
                  <span *ngIf="blogDescription.errors.required">Blog description is required.</span>
                  <span *ngIf="blogDescription.errors.maxlength">Max blog description length 1024.</span>
              </span>
          </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-3 col-form-label">Header image:</label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" accept="image/*" name="file" (change)="handleInputChange($event)">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>
            </div>
        </div>
      

        <div class="float-md-right">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
        </div>

      </form>
    </div>
  </div>
  
  <h2 class="display-4">Posts</h2>
    
  
  
  <div class="card shadow-sm">
    <div class="card-body">
        <button  type="button" (click)="showNewPost()" class="btn btn-link float-right" *ngIf="posts.length > 0">New Post <i class="far fa-file"></i></button>
      
      <table class="table table-borderless table-hover" *ngIf="(posts.length > 0)">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <!-- <th scope="col">Content</th> -->
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of posts">
            <th class="small" scope="row">{{p.title}}</th>
            <!-- <td col="2" >{{p.excerpt}}</td> -->
            <td class="small">{{p.date|date:'medium'}}</td>
            <td class="float-right small">
              <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" class="btn btn-danger btn-sm" title="Delete post" (click)="deletePost(p)">&nbsp;<i class="far fa-trash-alt">&nbsp;</i></button>
                <button type="button" class="btn btn-primary btn-sm" title="Edit post" (click)="editPost(p)"><i class="far fa-edit"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="posts.length === 0">
        <div class="align-middle">
           <label for="btnNewPost">There is nothing yet!, try add</label> <button id="btnNewPost" type="button" (click)="showNewPost()" class="btn btn-link align-bottom">New Post <i class="far fa-file"></i></button>
        </div>

    </div>
    </div>
  </div>
</div>


<div *ngIf="isNewPost" >
  <app-post [Post]="selectedPost" (closed)="onClosed($event)"></app-post>
</div>