
$primary: blueviolet !default;

.float-button{
    position: fixed;;
	width:60px;
	height:60px;
	top:100px;
	right: 20px;
	background-color:$primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}

.img-tumb{
    max-width: 200px;
    max-height: 300px;
}



.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  
  background-color: white;
  }

  .table-posts{

    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }

  .checkbox{
      width: 50px;
  }


  
.lateral-toolbar{
    background: rgba(0, 0, 0, 0.0);
    padding: 5px;
    position: fixed;
    width:45px;
    top: 25%;
    margin-bottom: 100px;
    right:3px;    
    z-index: 10001;
}