<button title="{{'help.help'|translate}}" class="btn btn-link float-button" (click)="startTour(true)" *ngIf="!isNewPost && !isUpdatePost">
  <i class="fas fa-question fa-2x"></i>
</button>
<div class="container top-padding" *ngIf="!isNewPost && !isUpdatePost">    
  <h2 class="display-4 d-none d-sm-block" id="step0">{{userName}} </h2>
  <h4 class="d-block d-sm-none" id="step0">{{userName}} </h4>

  <div class="card shadow-sm"  [ngClass]="{
    'bg-dark':selectedTheme=='dark',
    'bg-light':selectedTheme=='light',
    'text-light':selectedTheme=='dark',
    'text-dark':selectedTheme=='light'
  }">
    <div class="card-body"  >
      <form novalidate (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
        <div id="step1">
        <div class="form-group row">
          <label for="blogName" class="col-sm-3 col-form-label">{{'settings.name'|translate}}</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="blogName"  [placeholder]="'settings.nameplaceholder'|translate" formControlName="blogName"
                     [ngClass]="{'is-invalid':(blogName.touched || blogName.dirty) && !blogName.valid}" />
              <span class="invalid-feedback" *ngIf="blogName.invalid && (blogName.touched || blogName.dirty) ">
                  <span *ngIf="blogName.errors.required">{{'settings.namevalreq'|translate}}</span>
                  <span *ngIf="blogName.errors.maxlength">{{'settings.namevalmax'|translate}}</span>
              </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="blogDescription" class="col-sm-3 col-form-label">{{'settings.description'|translate}}</label>
          <div class="col-sm-9">
              <input type="text" class="form-control" id="blogDescription" [placeholder]="'settings.descriptionplaceholder'|translate" formControlName="blogDescription"
                     [ngClass]="{'is-invalid':(blogDescription.touched || blogDescription.dirty) && !blogDescription.valid}" />
              <span class="invalid-feedback" *ngIf="blogDescription.invalid && (blogDescription.touched || blogDescription.dirty) ">
                  <span *ngIf="blogDescription.errors.required">{{'settings.descriptionvalreq'|translate}}</span>
                  <span *ngIf="blogDescription.errors.maxlength">{{'settings.descriptionvalmax'|translate}} </span>
              </span>
          </div>
        </div>

        <div class="form-group row">
          <label for="blogDescription" class="col-sm-3 col-form-label">{{'settings.publicKey'|translate}}</label>
          <div class="col-sm-7">
              <input type="text" class="form-control" id="publicKey"  formControlName="publicKey"
                     [ngClass]="{'is-invalid':(publicKey.touched || publicKey.dirty) && !publicKey.valid}" />
              
          </div>
          <div class="col-sm-2" *ngIf="hasPublicKey==false">
            <button class="btn btn-link" type="button" (click)="showPublicKey()">{{'settings.showPK'|translate}}</button>
          </div>
          <div class="col-sm-2" *ngIf="hasPublicKey">
            <button class="btn btn-link" type="button" (click)="hidePublicKey()">{{'settings.hidePK'|translate}}</button>
          </div>
        </div>


        <div class="form-group row">
            <label for="file" class="col-sm-3 col-form-label">{{'settings.image'|translate}}</label>
            <div class="col-sm-9" *ngIf="!hasImageHeader">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{'settings.imageupload'|translate}}</span>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="file" accept="image/*" name="file" (change)="handleInputChange($event)">
                      <label class="custom-file-label" for="inputGroupFile01">{{'settings.imagechoose'|translate}}</label>
                    </div>
                  </div>
            </div>
            <div class="col-sm-9" *ngIf="hasImageHeader">
              <img [src]="postImageContent" class="img-tumb inline" alt="Current image header"> &nbsp;
              <button class="btn btn-outline-danger align-bottom inline" type="button" (click)="removeImageHeader()"><i class="far fa-times-circle" title="{{'settings.imageremove'|translate}}"></i></button>
            </div>
              
        </div>

        <div class="form-group row">
          <label for="file" class="col-sm-3 col-form-label">{{'settings.avatar'|translate}}</label>
          <div class="col-sm-9" *ngIf="!hasAvatar">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{'settings.imageupload'|translate}}</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" accept="image/*" name="file" (change)="handleAvatarInputChange($event)">
                    <label class="custom-file-label" for="inputGroupFile01">{{'settings.imagechoose'|translate}}</label>
                  </div>
                </div>
          </div>
          <div class="col-sm-9" *ngIf="hasAvatar">
            <img [src]="avatarImageContent" class="img-tumb inline avatar shadow" alt="Current avatar"> &nbsp; 
            <!-- <div class="avatar shadow bg-light"  [ngStyle]="{background: ' url('+avatarImageContent+') no-repeat center center'}"></div> -->
            <button class="btn btn-outline-danger align-bottom inline" type="button" (click)="removeAvatarImageHeader()"><i class="far fa-times-circle" title="{{'settings.avataremove'|translate}}"></i> </button>
          </div>
            
      </div>


      </div>

        <div class="float-md-right" id="step2">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >{{'settings.save'|translate}}</button>
        </div>

      </form>
    </div>
  </div>
  
  
  <h2 class="display-4 d-none d-sm-block" id="step0">{{'settings.myposts'|translate}}</h2>
  <h4 class="d-block d-sm-none" id="step0">{{'settings.myposts'|translate}}</h4>
  
  
  <div class="card shadow-sm"  [ngClass]="{
    'bg-dark':selectedTheme=='dark',
    'bg-light':selectedTheme=='light',
    'text-light':selectedTheme=='dark',
    'text-dark':selectedTheme=='light'
  }">
    <div class="card-body">
        <div >
            <div >
                <button id="step3"  type="button" (click)="showNewPost()" class="btn btn-link float-right" >{{'settings.newpost'|translate}} <i class="far fa-file"></i></button>
                <label *ngIf="posts.length === 0" for="btnNewPost" class="float-right mt-2">{{'settings.tableempty'|translate}}</label> 
            </div>
        </div>

        
      <div id="step4">
        <table class="table table-striped table-hover" *ngIf="(posts.length > 0)"  
          [ngClass]="{
            'table-dark':selectedTheme=='dark'
          }"   >
          <thead>
            <tr>
              <th scope="col">{{'settings.tabletitle'|translate}}</th>
              <!-- <th scope="col">Content</th> -->
              <th scope="col">{{'settings.tabledate'|translate}}</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of posts">
              <th class="small" scope="row">{{p.title}}</th>
              <!-- <td col="2" >{{p.excerpt}}</td> -->
              <td class="small">{{p.date|date:'medium'}}</td>
              <td class="float-right small">
                <div class="btn-group" role="group" aria-label="Actions">
                  <button type="button" class="btn btn-primary btn-sm" title="{{'settings.tableshare'|translate}}"  data-toggle="modal" data-target="#share" (click)="sharePost($event,p)"><i class="fas fa-share-alt"></i></button>&nbsp;
                  <button type="button" class="btn btn-primary btn-sm" title="{{'settings.tableedit'|translate}}" (click)="editPost(p)"><i class="far fa-edit"></i></button>&nbsp;
                  <button type="button" class="btn btn-danger btn-sm" title="{{'settings.tabledelete'|translate}}" (click)="deletePost(p)">&nbsp;<i class="far fa-trash-alt">&nbsp;</i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>

</div>



<div *ngIf="isNewPost || isUpdatePost" >
  <app-post [Post]="selectedPost" (closed)="onClosed($event)"></app-post>
</div>



<!-- Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLongTitle">{{'settings.tableshare'|translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-blog-share [Post]="shareablePost"  [PostUser]="userName"></app-blog-share>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"> {{'settings.tablesharedone'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />