
$primary: blueviolet !default;

.float-button{
    position: fixed;;
	width:60px;
	height:60px;
	top:100px;
	right: 20px;
	background-color:$primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}

.img-tumb{
    max-width: 200px;
    max-height: 300px;
}



.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  
  
  }