<div class="container  top-padding">
  <h2 class="display-4 d-none d-sm-block" id="step0">Frequently Asked Questions</h2>
  <h4 class="d-block d-sm-none" id="step0">Frequently Asked Questions</h4>
  
  <div class="accordion" id="accordionExample">
       
    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
      <div class="card-header" id="h01">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c01" aria-expanded="false" aria-controls="collapseThree"
          [ngClass]="{
            'text-light':selectedTheme=='dark',
            'text-dark':selectedTheme=='light'
          }">
            {{'faq.whatisdmyblog'|translate}}
          </button>
        </h2>
      </div>
      <div id="c01" class="collapse show" aria-labelledby="h01" data-parent="#accordionExample">
        <div class="card-body">
            {{'faq.whatisdmyblogtext'|translate}}
        </div>
      </div>
    </div>

    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
      <div class="card-header" id="h05">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c05" aria-expanded="false" aria-controls="collapseThree"
          [ngClass]="{
            'text-light':selectedTheme=='dark',
            'text-dark':selectedTheme=='light'
          }">
          {{'faq.whatisblockstack'|translate}}
          </button>
        </h2>
      </div>
      <div id="c05" class="collapse" aria-labelledby="h05" data-parent="#accordionExample">
        <div class="card-body">
            {{'faq.whatisblockstacktext'|translate}}
            
          <a href="https://docs.blockstack.org/org/overview.html" target="_blank" class="btn btn-link"> {{'faq.whatisblockstackmore'|translate}}</a>

        </div>
      </div>
    </div>

    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
      <div class="card-header" id="h06">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c06" aria-expanded="false" aria-controls="collapseThree" [ngClass]="{
            'text-light':selectedTheme=='dark',
            'text-dark':selectedTheme=='light'
          }">
          {{'faq.whatisblockstackid'|translate}}
          </button>
        </h2>
      </div>
      <div id="c06" class="collapse" aria-labelledby="h06" data-parent="#accordionExample">
        <div class="card-body">
         
            {{'faq.whatisblockstackidtext'|translate}}
        </div>
      </div>
    </div>

    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
        <div class="card-header" id="h03">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c03" aria-expanded="false" aria-controls="collapseTwo"
            [ngClass]="{
              'text-light':selectedTheme=='dark',
              'text-dark':selectedTheme=='light'
            }">
            {{'faq.whatisdapp'|translate}}
            </button>
          </h2>
        </div>
        <div id="c03" class="collapse" aria-labelledby="h03" data-parent="#accordionExample">
          <div class="card-body">
            {{'faq.whatisdapptext'|translate}}
          </div>
        </div>
      </div>


    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
      <div class="card-header" id="h02">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#c02" aria-expanded="true" aria-controls="collapseOne" 
          [ngClass]="{
            'text-light':selectedTheme=='dark',
            'text-dark':selectedTheme=='light'
          }">
          {{'faq.whereisdatastored'|translate}}
          </button>
        </h2>
      </div>
      <div id="c02" class="collapse" aria-labelledby="h02" data-parent="#accordionExample">
        <div class="card-body">
            {{'faq.whereisdatastoredtext'|translate}}
            
            <a href="https://github.com/blockstack/gaia" target="_blank"> {{'faq.whatisblockstackmore'|translate}}</a>
        
        </div>
      </div>
    </div>

    

    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
      <div class="card-header" id="h04">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed " type="button" data-toggle="collapse" data-target="#c04" aria-expanded="false" aria-controls="collapseThree"
          [ngClass]="{
            'text-light':selectedTheme=='dark',
            'text-dark':selectedTheme=='light'
          }">
            {{'faq.whyuse'|translate}}
            
          </button>
        </h2>
      </div>
      <div id="c04" class="collapse" aria-labelledby="h04" data-parent="#accordionExample">
        <div class="card-body">
            {{'faq.whyusetext'|translate}}
        </div>
      </div>
    </div>

   

    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
        <div class="card-header" id="h07">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c07" aria-expanded="false" aria-controls="collapseThree"
            [ngClass]="{
              'text-light':selectedTheme=='dark',
              'text-dark':selectedTheme=='light'
            }">
            {{'faq.freetouse'|translate}}
              
            </button>
          </h2>
        </div>
        <div id="c07" class="collapse" aria-labelledby="h07" data-parent="#accordionExample">
          <div class="card-body">
            <p>
                {{'faq.freetousetext'|translate}}
              
              <a href="https://app.co/" target="_blaank" >
              Blockstack App Mining</a> {{'faq.freetousetextb'|translate}}
            </p>  
            <br />
            <div class="text-center">
              <a href="https://www.producthunt.com/posts/dmy-blog?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-dmy-blog" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=157734&theme=light" alt="dMy Blog - A decentralized blog maker | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
            </div>
          </div>
        </div>
      </div>
  

      <div class="card"  [ngClass]="{
        'bg-dark':selectedTheme=='dark',
        'bg-light':selectedTheme=='light',
        'text-light':selectedTheme=='dark',
        'text-dark':selectedTheme=='light'
      }">
          <div class="card-header" id="h08">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#c08" aria-expanded="false" aria-controls="collapseThree"
              [ngClass]="{
                'text-light':selectedTheme=='dark',
                'text-dark':selectedTheme=='light'
              }">
                {{'faq.howcontact'|translate}}
                  
              </button>
            </h2>
          </div>
          <div id="c08" class="collapse" aria-labelledby="h08" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-2"></div>
                    
                    <div class="col-sm-12 col-lg-8">
                      <app-contact-us></app-contact-us>
                    </div>
            
                    <div class="col-sm-12 col-lg-2"></div>
                  </div>         
            </div>
          </div>
        </div>

  </div>
</div>



<br />
<br />
<br />
<br />
<br />
<br />
<br />