<button title="Help" class="btn btn-link float-button" (click)="startTour(true)" *ngIf="!isNewPost && !isViewingPost" >
  <i class="fas fa-question fa-2x"></i>
</button>
<button id="step3" class="btn btn-link float-new-post" (click)="showNewPost()" title="New Post" *ngIf="isAdmin && !isNewPost && !isViewingPost">
    <i class="fas fa-plus fa-2x"></i>
</button>
<button title="Share this blog" id="step2" class="btn btn-link float-share" type="button" data-toggle="modal" data-target="#share" (click)="shareBlog()" *ngIf="isAdmin && !isNewPost && !isViewingPost">
    <i class="fas fa-share-alt fa-2x"></i>
</button>

<div class="container top-padding" *ngIf="!isNewPost && !isViewingPost">
  <div class="card mb-3 shadow-sm shadow header-card" id="step1">
    <img class="card-img-top header-img  transparency-header" [src]="header?.blogHeaderImage" alt="..." *ngIf="header?.blogHeaderImage">
    <div class="card-img-overlay">
      <div class="card-title p-3" >
          <h2 class="card-title display-4 " >{{header?.blogName}}</h2>
          <p>{{header?.blogDescription}}</p>
      </div>
    </div>
    <div class="h-100 d-flex flex-column justify-content-end mx-3 card-img-overlay">
      <div class="row ">
        <div class="col">
            <label class="small float-left" ></label>
        </div>
        <div class="col">
            <label class="small float-right font-weight-bold" >&nbsp;{{userName}}&nbsp; 
            </label>
        </div>
      </div>
    </div>
  </div>

  <h1 class="font-weight-lighter">My Posts</h1>

<!-- aca esta el nuevo diseño -->
  <div class="row" id="step4">
    <div class="col-lg-6 col-sm-12" *ngFor="let p of posts"  >
      <div class="border border-secondary shadow mb-5 post-size rounded"
       (dblclick)="viewPost(p)" style="background-color: white" >
     <div class="w-100 h-100"  [ngStyle]="{background: ' url('+p.imageFileContent+') no-repeat center center'}">
        <!-- Footer o header del post -->
        <div class="h-100 d-flex flex-column justify-content-end ">
          <div  class="d-flex  bd-highlight m-2">
              <div class="flex-grow-1">
                    <div class="interaction-bar " disabled>
                      <!-- <button  class="btn btn-link  float-unlike"  title="I don't like it!">
                        <i class="fas fa-frown-open"></i>
                        <span class="badge badge-dark stack-site">{{p?.Interaction?.unlikeCount}}</span>
                      </button> -->
                      <button class="btn btn-link float-like" (click)="like()" title="I like it!">
                          <span class="fa-layers fa-fw" >
                            <i class="far fa-thumbs-up"></i>
                            <span class="badge badge-dark stack-site">{{p?.Interaction?.likeCount}}</span>
                          </span>
                        </button>
                    </div>
              </div>
              <div class="btn-group button-bar"  role="group" aria-label="Basic example" >
                  <button type="button" class="btn btn-outline-danger" title="Delete post" (click)="deletePost($event, p)" *ngIf="isAdmin">&nbsp;<i class="far fa-trash-alt">&nbsp;</i></button>              <button type="button" class="btn btn-outline-primary" title="Edit post" (click)="editPost(p)"*ngIf="isAdmin"><i class="far fa-edit"></i></button>
                  <button class="btn btn-outline-primary" type="button" title="Share post" data-toggle="modal" data-target="#share" (click)="sharePost($event,p)"
                    *ngIf="p.status == 1 || p.status == 2">
                      <i class="fas fa-share-alt"></i>
                  </button>
                  <button class="btn btn-outline-primary" type="button"  title="View post" (click)="viewPost(p)">
                      <i class="far fa-eye"></i>
                  </button>
              </div>
          </div>
            
          <div class="row transparency text-white footer-post">
            
            <div class="col-lg-12 manita" (click)="viewPost(p)">
              <h5 class="card-title" > {{p.title}}</h5>
              <hr />
            </div>
            <div class="col-lg-12">
              <span class="small font-weight-light"  >By: <strong>{{p.author}}</strong> on {{p.date|date:'medium'}}</span>
            </div>
          </div>
        </div>
      </div>
         <!-- barra de herramientas del post -->
         <div class="h-100 d-flex flex-column justify-content-end ">
          
          </div>
      </div>
    </div>
  
      
      <div class="col" *ngIf="posts?.length==0">
        <p class="alert alert-info" role="alert">User <span class="font-weight-bold" >{{userName}}</span>  has not posted yet!</p>
      </div>
    </div>
</div>

<div *ngIf="isNewPost" >
  <app-post [Post]="selectedPost" (closed)="onClosed($event)"></app-post>
</div>

<div *ngIf="isViewingPost" >
  <app-post-reader [Post]="selectedPost" (closed)="onClosedViewer($event)"></app-post-reader>
</div>

  
<!-- Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{shareTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-blog-share [Post]="selectedPost" [PostUser]="userName"></app-blog-share>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>