<button  title="{{'help.help'|translate}}" class="btn btn-link float-button" (click)="startTour(true)" *ngIf="!isNewPost && !isViewingPost" >
  <i class="fas fa-question fa-2x"></i>
</button>
<button title="{{'help.newpost'|translate}}"  id="step3" class="btn btn-link float-new-post" (click)="showNewPost()" *ngIf="isAdmin && !isNewPost && !isViewingPost">
    <i class="fas fa-plus fa-2x"></i>
</button>
<button title="{{'help.shareblog'|translate}}" id="step2" class="btn btn-link float-share" type="button" data-toggle="modal" data-target="#share" (click)="shareBlog()" *ngIf="isAdmin && !isNewPost && !isViewingPost">
    <i class="fas fa-share-alt fa-2x"></i>
</button>

<div class="container top-padding" *ngIf="!isNewPost && !isViewingPost">

  <!-- <div  class="text-center text-header" >
      <img [src]="avatarContent" class="avatar shadow" alt="Avatar" *ngIf="hasAvatar">  
      <p>
          <label class="small font-weight-bold " >&nbsp;{{userName}}&nbsp; </label>
      </p>
      <h2 class="card-title display-4  " >{{header?.blogName}}</h2>
      <p ><span class="font-italic font-weight-light ">{{header?.blogDescription}}</span> </p>    
      
  </div> -->
  <div class="card mb-3 shadow-sm shadow header-card rounded-lg bg-dark " id="step1">
    <img class="card-img-top header-img rounded-lg" [src]="header?.blogHeaderImage" alt="..." *ngIf="header?.blogHeaderImage">
    <div class="card-img-overlay ">
      <div  class="text-center text-header"  >
          <h2 class="card-title display-4  " >{{header?.blogName}}</h2>
          <p ><span class="font-italic font-weight-light ">{{header?.blogDescription}}</span> </p>    
          <img [src]="avatarContent" class="avatar" alt="Avatar" *ngIf="hasAvatar">  
          <p>
              <label class="small font-weight-bold " >&nbsp;{{userName}}&nbsp; </label>
          </p>
          
      </div>
      <div >
          
          
      </div>
    </div>
    
  </div>

  

  <!-- <h2 class="display-4 d-none d-sm-block pt-4" id="step0">{{userName}} {{'myblog.posts'|translate}}</h2> -->
  <h4 class="d-block d-sm-none pt-4" id="step0">{{userName}} Posts</h4>
  
<!-- aca esta el nuevo diseño -->
  <div class="row pt-4" id="step4">
    <div class="col-lg-6 col-sm-12" *ngFor="let p of posts"  >
      <div class="border border-secondary shadow mb-5 post-size rounded post"
       (click)="viewPost(p)" style="background-color: white" >
     <div class="w-100 h-100"  [ngStyle]="{background: ' url('+p.imageFileContent+') no-repeat center center'}">
        <!-- Footer o header del post -->
        <div class="h-100 d-flex flex-column justify-content-end ">
          <div  class="d-flex  bd-highlight m-2">
              <div class="flex-grow-1">
                    <div class="like-inline" >
                      <!-- <button  class="btn btn-link  float-unlike"  title="I don't like it!">
                        <i class="fas fa-frown-open"></i>
                        <span class="badge badge-dark stack-site">{{p?.Interaction?.unlikeCount}}</span>
                      </button> -->
                      <!-- <button class="btn btn-link float-like" (click)="like()" title="I like it!" *ngIf="p.status!='0'">
                          <span class="fa-layers fa-fw" >
                            <i class="far fa-thumbs-up"></i>
                            <span class="badge badge-dark stack-site">{{p?.Interaction?.likeCount}}</span>
                          </span>
                        </button> -->
                        <app-post-interaction   [Post]="p"></app-post-interaction>
                    </div>
              </div>
              <div class="btn-group button-bar"  role="group" aria-label="Basic example" >
                  <button type="button" class="btn btn-outline-danger text-white" title="{{'myblog.delete'|translate}}" (click)="deletePost($event, p)" *ngIf="isAdmin">&nbsp;<i class="far fa-trash-alt">&nbsp;</i></button>             
                  <button type="button" class="btn btn-outline-info text-white" title="{{'myblog.edit'|translate}}" (click)="editPost(p)"*ngIf="isAdmin"><i class="far fa-edit"></i></button>
                  <button class="btn btn-outline-info text-white" type="button" title="{{'myblog.share'|translate}}" data-toggle="modal" data-target="#share" (click)="sharePost($event,p)"
                    >
                      <i class="fas fa-share-alt"></i>
                  </button>
                  <button class="btn btn-outline-info text-white" type="button"  title="{{'myblog.view'|translate}}" (click)="viewPost(p)">
                      <i class="far fa-eye"></i>
                  </button>
              </div>
          </div>
            
          <div class="row transparency text-white footer-post">
            
            <div class="col-lg-12 manita" (click)="viewPost(p)">
              <h5 class="card-title font-weight-bold text-capitalize" > {{p.title}}</h5>
              <p class="font-weight-normal text-capitalize p-excerpt">
                {{p.excerpt}}
              </p>
            </div>
            <div class="col-lg-12">
              <span class="small font-weight-lighter"  >{{'myblog.by'|translate}}: <strong>{{p.author}}</strong> {{'myblog.on'|translate}} {{p.date|date:'medium'}}</span>
            </div>
          </div>
        </div>
      </div>
         <!-- barra de herramientas del post -->
         <div class="h-100 d-flex flex-column justify-content-end ">
          
          </div>
      </div>
    </div>
  
      
      <div class="col" *ngIf="posts?.length==0">
        <p class="alert alert-info" role="alert">User <span class="font-weight-bold" >{{userName}}</span>  has not posted yet!</p>
      </div>
    </div>
</div>

<div *ngIf="isNewPost" >
  <app-post [Post]="selectedPost" (closed)="onClosed($event)"></app-post>
</div>

<div *ngIf="isViewingPost" >
  <app-post-reader [Post]="selectedPost" (closed)="onClosedViewer($event)"></app-post-reader>
</div>

  
<!-- Modal -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="exampleModalLongTitle">{{shareTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-blog-share [Post]="selectedPost" [PostUser]="userName"></app-blog-share>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">{{'myblog.done'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>