<div class="form-row">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">URL</span>
            </div>
            <input type="text" class="form-control"  aria-label="Url to share" [(ngModel)]="url" #urlinput>
            <div class="input-group-append">
              <button class="input-group-text" type="button" (click)="copyInputMessage(urlinput)">Copy</button>
            </div>

           
          </div>
      </div>
</div>
<div class="form-row float-right">
    <div class="btn-toolbar " role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group " role="group" aria-label="First group">
            <button type="button" class="btn  btn-link " ceiboShare  [twitter]="{url:urlFB, text:title, hashtags:'dMyBlog', via: 'dmyblog_'}">
                <i class="fab fa-twitter-square fa-2x"></i>
            </button>
          <button (click)="shareFB()" type="button" class="btn btn-link " ceiboShare  [facebook]="{u: urlFB}">
              <i class="fab fa-facebook-square fa-2x"></i>
          </button>
        </div>
      </div>
</div>