.header-img {
    height: 250px;
    width: 100%;
}

.header-card{
    min-height: 250px;
}
.post-bottom {
    margin-bottom: 15px;
}

.img-post{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 250px;
}

.card-height-res img{
    text-align: center;
    vertical-align: middle;
    max-height: 480px;
    margin: auto;
    
}



.header{
    position: relative;
    min-height: 200px;
}

.header-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
  }

  .truncate {
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .transparency-header{
    opacity: .55;
  }




.unlike{
    color: white;
    margin: 0px;
    padding: 0px;
    cursor:context-menu;
}

.like{
    color:white;
    margin: 0px;
    padding: 0px;
    cursor: context-menu;

}


.stack-site{
    font-size: 50%;
    
    position: absolute;
    top: 0px;
    right: 0px;
}


.interactions{
    position: absolute;
    bottom: 10px;
}

.button-back{
    background-color: white;
    padding: 5px;
    opacity: .85;
}


.interaction-back{
    background-color: black;
    padding: 5px;
    opacity: .8;
    cursor: context-menu;
}




$primary: blueviolet !default;

.float-button{
    position: fixed;
    width:60px;
    height:60px;
    top:100px;
    right:20px;    
    background-color:$primary;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}
.float-new-post{
    position: fixed;;
	width:60px;
	height:60px;
	top:170px;
	right: 20px;
	background-color:$primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}

.float-share{
    position: fixed;;
	width:60px;
	height:60px;
	top:240px;
	right: 20px;
	background-color:$primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}



.post-size{
    max-height: 400px;
    min-height: 400px;
    height: 400px;
   
    overflow: hidden;
    position: relative;
}


.post-size-block{
    max-height: 250px;
    min-height: 250px;
    height: 250px;
   
    overflow: hidden;
    position: relative;
}

.img-block{
    
    
}
.button-bar{
    background-color: $primary;
	border-radius:.25rem;
    
}

.card-img-overlay{
    padding: 0px!important;
    margin: 0px!important;
}

.transparency{
    opacity: .9
}

.footer-post{
    background-color: $primary;
    padding: 10px;
}

.float-unlike{
    color:#FFF;
    background-color:$primary;
    border-radius:25px;
    height:37px;
    width:40px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1002;
    z-index: 1002;
}

hr {
    border: 0 none black!important;
}


.post:hover{
    animation: bounceIn .5s ease-in-out 0s 1 alternate;
 //   border-color: $primary!important;
  //  border-width: 2px!important;
    box-shadow: 0 .2rem 1rem  black!important;
}

.p-excerpt{
    line-height: 1;
    font-size: small;
}

.b-author{
    font-size: small;
}


.avatar {
    border-radius: 50%;
    
    width: 80px;
    height: 80px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid white;
  
  }

  .text-header {
//     color: black;
//   text-shadow: 2px 2px 4px #FFFFFF;

  color: white;
  }

  .btn-social{
      padding: .01rem .2rem!important;
  }

  
.input-hidden{
    border-width: 0px;
    background-color: transparent;
    color: transparent;
}

.btn-rss{
    color: #e9722e;
}

.social-bar{
    background-color: black;
    margin: 4px;
    opacity: 1;
    padding: 5px !important;
    border-radius: 5px;
}

.user-info{
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}