  <input type="text" class="form-control input-hidden"  aria-label="RSS Url to share" [(ngModel)]="rssUrl" #urlinput>
  <div *ngIf="isViewingPost" >
    <app-post-reader [Post]="selectedPost" (closed)="onClosedViewer($event)"></app-post-reader>
  </div>
      
 
  
<div class="lateral-toolbar rounded">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group-vertical mb-2" role="group" aria-label="Second group" >
      
      <button  id="step4" title="dMy Blog RSS" class="btn btn-dark float-button-rss" (click)="copyRSSUlr(urlinput)" >
        <i class="fas fa-rss "></i>
      </button>

    </div>
    <div class="btn-group-vertical" role="group" aria-label="Third group"  >
      <button  title="{{'help.help'|translate}}" class="btn btn-dark text-warning" (click)="startTour(true)" >
        <i class="fas fa-question"></i>
      </button>
      
    </div>
  </div>
</div>


  <div class="container top-padding">
    <h2 class="display-4 bm-2"  *ngIf="!isViewingPost">{{'browse.latest'|translate}}</h2>
    <div class="p-2"  *ngIf="!isViewingPost">
    <div class="row"  *ngIf="!isViewingPost">
      <div class=" col-md-4">
        <label for="txtFilter" *ngIf="currentFilter!=''">
            {{'browse.filtertext'|translate}}: <span class="font-weight-bold">{{currentFilter}}</span> 
        </label>
      </div>
      <div class="col-md-8" id="step1">
        <div class="input-group search-container mb-4">
          <input type="text" class="form-control text-search " (keyup.enter)="performSearch($event)" [placeholder]="'browse.filter'|translate" aria-describedby="inputGroupPrepend3" [(ngModel)]='searchTerm'  >
          <div class="input-group-prepend  ">
              <button title="{{'browse.buttonfilter'|translate}}" class="btn btn-dark" (click)='performSearch()' type="button"><i class="fas fa-filter"></i></button>
            </div>
          <div class="input-group-prepend  ">
              <button title="{{'browse.buttonclearfilter'|translate}}" class="btn btn-dark" (click)='clearSearch()' type="button"><i class="fas fa-recycle"></i></button>
            </div>

            <div class="btn-group mx-2" role="group" aria-label="View">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-dark active" (click)="viewMode='grid'" title="Grid View">
                  <input type="radio" name="viewOptions" id="viewBlock" checked> 
                  <i class="fas fa-th-large"></i>
                </label>
                <label class="btn btn-dark" (click)="viewMode='block'" title="Block View">
                  <input type="radio" name="viewOptions" id="viewGrid"> 
                  <i class="far fa-square"></i>
                </label>
              </div>
            </div>


            <div class="btn-group mr-2" role="group" aria-label="Order">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-dark active" (click)="orderBy('desc')" title="Sort by descending date" >
                  <input type="radio" name="orderOptions" id="orderRecentPost" checked> 
                  <i class="fas fa-sort-amount-down" ></i>
                </label>
                <label class="btn btn-dark" (click)="orderBy('asc')" title="Sort by ascending date">
                  <input type="radio" name="orderOptions" id="orderOlderPost"> 
                  <i class="fas fa-sort-amount-up" ></i>
                </label>
              </div>
            </div>
        </div>
    </div>
  </div>

    

  
<!-- aca esta el nuevo diseño -->
<div   *ngIf="!isViewingPost" id="step2">
  <div class="row" *ngIf="viewMode=='grid'">
    <div class="col-lg-6 col-sm-12" *ngFor="let p of posts">
      <div class="border border-secondary shadow mb-5 post-size rounded post manita"
        (click)="viewPost(p)" style="background-color: white" >
        <div class="w-100 h-100"  [ngStyle]="{background: ' url('+p.imageFileContent+') no-repeat center center'}">
          <!-- Footer o header del post -->
          <div class="h-100 d-flex flex-column justify-content-end ">
            <div  class="d-flex  bd-highlight m-2">
                <div class="flex-grow-1">
                    <div class="like-inline" >
                          <app-post-interaction   [Post]="p"></app-post-interaction>
                      </div>
              </div>
              <div class="btn-group button-bar"  role="group" aria-label="Basic example" >
                  <button class="btn btn-dark text-white" type="button" title="{{'browse.share'|translate}}" data-toggle="modal" data-target="#share" (click)="sharePost($event,p)"
                    *ngIf="p.status == 1 || p.status == 2">
                      <i class="fas fa-share-alt"></i>
                  </button>
                  <button class="btn btn-dark text-white" type="button"  title="{{'browse.view'|translate}}" (click)="viewPost(p)">
                      <i class="far fa-eye"></i>
                  </button>
              </div>
          </div>
            
          <div class="row transparency text-white footer-post">
            
            <div class="col-lg-12 manita" (click)="viewPost(p)">
              <h5 class="card-title font-weight-bold text-capitalize" > {{p.title}}</h5>
              <p class="font-weight-normal text-capitalize p-excerpt">
                {{p.excerpt}}
              </p>
            </div>
            <div class="col-lg-12">
              <span class="small font-weight-lighter"  >{{'browse.by'|translate}}: <strong>{{p.author}}</strong> {{'browse.on'|translate}} {{p.date|date:'medium'}}</span>
            </div>
          </div>
        </div>
        </div>  
         <!-- barra de herramientas del post -->
         <div class="h-100 d-flex flex-column justify-content-end ">
          
          </div>
      </div>
    </div>
  </div>

  <div *ngIf="viewMode=='block'"  >
      
    <div class="row text-dark" *ngFor="let p of posts"  >
      <div class="col-md-2"></div>
      <div class="col-md-8 shadow mb-5 post-size-block rounded post" style="background-color: white" >
        <div class="row h-100 manita p-2" (click)="viewPost(p)">
          <div class="col-md-8  ">
            <div class="h-100 d-flex align-items-start flex-column bd-highlight mb-3" style="height: 200px;">
              <div class="mb-auto pt-2 bd-highlight">
                  <h4 class="card-title font-weight-bold text-capitalize" > {{p.title}}</h4>
                  <p class="font-weight-normal text-capitalize p-excerpt">
                    {{p.excerpt}}
                  </p>
              </div>
              <div class="bd-highlight w-100">
                <div class="d-flex bd-highlight">
                  <div class="p-2 bd-highlight">
                    <div class="like-inline" >
                      <app-post-interaction   [Post]="p"></app-post-interaction>
                    </div>
                  </div>
                  
                  <div class="ml-auto p-2 bd-highlight">

                    <div class="btn-group button-bar  btn-group-sm"  role="group" aria-label="Basic example" >
                      <button type="button" class="btn btn-danger text-white" title="{{'myblog.delete'|translate}}" (click)="deletePost($event, p)" *ngIf="isAdmin">&nbsp;<i class="far fa-trash-alt">&nbsp;</i></button>             
                      <button type="button" class="btn btn-dark text-white" title="{{'myblog.edit'|translate}}" (click)="editPost(p)"*ngIf="isAdmin"><i class="far fa-edit"></i></button>
                      <button class="btn btn-dark text-white" type="button" title="{{'myblog.share'|translate}}" data-toggle="modal" data-target="#share" (click)="sharePost($event,p)">
                          <i class="fas fa-share-alt"></i>
                      </button>
                      <button class="btn btn-dark text-white" type="button"  title="{{'myblog.view'|translate}}" (click)="viewPost(p)">
                          <i class="far fa-eye"></i>
                      </button>
                    </div>
                  </div>
                </div>
              
            
              </div>
              <div class="pb-2 bd-highlight">
                <span class="small font-weight-lighter"  >{{'myblog.by'|translate}}: <strong>{{p.author}}</strong> {{'myblog.on'|translate}} {{p.date|date:'medium'}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-4"  [ngStyle]="{background: 'padding-box url('+p.imageFileContent+') no-repeat left center/auto auto' }"></div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
   
  
      
      <div class="col" *ngIf="posts?.length==0 &&  currentFilter==''">
        <p class="alert alert-info" role="alert">{{'browse.userblog'|translate}} <span class="font-weight-bold" >{{userName}}</span>  {{'browse.userblogtext'|translate}}</p>
      </div>
    </div>
</div>
  <div class="row" *ngIf="!isViewingPost" id="step3">
      <div class="col-lg-12">
        <nav aria-label="Paginación" *ngIf="pagination.data?.length > 0">
          <ul class="pagination justify-content-center">
            <li class="page-item"><button class="page-link text-dark" (click)="firstPage()" title="{{'pagination.first'|translate}}" ><span class="fas fa-fast-backward"></span></button></li>
            <li class="page-item"><button class="page-link text-dark" (click)="previousPage()" title="{{'pagination.previous'|translate}}"><span class="fas fa-backward"></span></button></li>
            <li class="page-item d-none d-sm-block"><span class="page-link text-dark" href="#">{{'pagination.page'|translate}} {{pagination.pageNumber + 1}} {{'pagination.of'|translate}} {{pagination.totalPages}} - {{pagination.totalRegs}} Posts</span></li>
            <li class="page-item d-block d-sm-none"><span class="page-link text-dark" href="#">P. {{pagination.pageNumber + 1}} {{'pagination.of'|translate}} {{pagination.totalPages}}</span></li>
            <li class="page-item"><button class="page-link text-dark" (click)="nextPage()" title="{{'pagination.next'|translate}}"><span class="fas fa-forward"></span></button></li>
            <li class="page-item"><button class="page-link text-dark" (click)="lastPage()" title="{{'pagination.last'|translate}}"><span class="fas fa-fast-forward"></span></button></li>
            <li class="page-item">&nbsp;&nbsp;&nbsp;&nbsp;</li>
            <li class="page-item"><span class="page-link text-dark">{{'pagination.go'|translate}}:</span></li>
            <li class="page-item"><input type="number" class="form-control page-link cursor-text text-dark go-to" [(ngModel)]="page" /> </li>
            <li class="page-item"><button type="button" class="page-link text-dark" (click)="toPage()"><span class="fas fa-search"></span></button></li>
          </ul>
        </nav>
      </div>
    </div>
      
  <div class="col" *ngIf="posts?.length==0 && currentFilter!=''">
    <p class="alert alert-warning text-center" role="alert">{{'browse.nofilterresults'|translate}}</p>
  </div>
  
    
  <!-- Modal -->
  <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-dark" id="exampleModalLongTitle">{{shareTitle}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-blog-share [Post]="selectedPost"></app-blog-share>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

