.header-img {
    height: 200px;
    width: 100%;
}

.post-bottom {
    margin-bottom: 15px;
}

.img-post{
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

.card-height-res{
    max-height: 400px;
    min-height: 400px;
   
    background-color: white;
}
.card-height-res img{
    text-align: center;
    vertical-align: middle;
    max-height: 480px;
    margin: auto;
    
}



.header{
    position: relative;
    min-height: 200px;
}

.header-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
  }

  .truncate {
    width: 650px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .transparency-header{
    opacity: .55;
  }


.go-to{
    max-width: 60px;
}



.unlike{
    color: red;
    margin: 0px;
    padding: 0px;
    cursor:context-menu;
}

.like{
    color: forestgreen;
    margin: 0px;
    padding: 0px;
    cursor: context-menu;

}
.button-post{
    background-color:red;
}


.interactions{
    position: absolute;
    bottom: 10px;
}



.button-back{
    background-color: white;
    padding: 5px;
    opacity: .85;
}


.interaction-back{
    background-color: black;
    padding: 5px;
    opacity: .8;
    cursor: context-menu;
}


$primary: blueviolet !default;

.float-button{
    position: fixed;
	width:60px;
	height:60px;
	top:100px;
    right:20px;
	background-color:$primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}





.post-size{
    max-height: 400px;
    min-height: 400px;
    height: 400px;
   
    overflow: hidden;
  position: relative;
}

.button-bar{
    background-color: $primary;
	border-radius:.25rem;

}

.card-img-overlay{
    padding: 0px!important;
    margin: 0px!important;
}

.transparency{
    opacity: .75
}

.footer-post{
    background-color: $primary;
    padding: 10px;
}

.post:hover{
    animation: bounceIn .5s ease-in-out 0s 1 alternate;
 //   border-color: $primary!important;
  //  border-width: 2px!important;
    box-shadow: 0 .2rem 1rem  black!important;
}


.stack-site{
    font-size: 45%;
    position: relative;
    top: -42px;
    right: -17px;
}

.float-like{
    color:#FFF;
    background-color:$primary;
    border-radius:25px;
    height:37px;
    width:40px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1002;
    margin-left: 5px;
  }
  
  .float-unlike{
    color:#FFF;
    background-color:$primary;
    border-radius:25px;
    height:37px;
    width:40px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1002;
    z-index: 1002;
  }

  
.float-search{
    position: fixed;
	width:200px;
	height:60px;
	top:100px;
    right:200px;
	background-color:$primary;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
}

hr {
    border: 0 none black!important;
}


.p-excerpt{
    line-height: 1;
    font-size: small;
}