<!-- <button  title="{{'help.help'|translate}}" class="btn btn-link float-button" (click)="startTour(true)">
  <i class="fas fa-question fa-2x"></i>
</button> -->

<div class="lateral-toolbar rounded">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

    <div class="btn-group-vertical mb-2 " role="group" aria-label="Second group" >
      <button type="button" class="btn btn-dark text-white" (click)="close()" title="Cancel changes">
        <i class="fas fa-undo"></i>
      </button>
      <button type="button" (click)="save()" class="btn btn-dark text-white"  title="Save changes">
        <i class="far fa-save"></i>
      </button>
    </div>

    <div class="btn-group-vertical" role="group" aria-label="Third group"  >
      <button  title="{{'help.help'|translate}}" class="btn btn-dark text-warning" (click)="startTour(true)" >
        <i class="fas fa-question"></i>
      </button>
    </div>

  </div>
</div>

<div class="container top-padding">
    <h2 class="display-4">{{title}}</h2>
    <div class="card"  [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
        <div class="card-body">
          <form novalidate (ngSubmit)="save()" [formGroup]="form" autocomplete="off">
            <div class="form-group row" id="step1">
              <label for="postTitle" class="col-sm-3 col-form-label">{{'post.title'|translate}}*</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="postTitle"  [placeholder]="'post.titleplaceholder'|translate" formControlName="postTitle"
                         [ngClass]="{'is-invalid':(postTitle.touched || postTitle.dirty) && !postTitle.valid}" />
                  <span class="invalid-feedback" *ngIf="postTitle.invalid && (postTitle.touched || postTitle.dirty) ">
                      <span *ngIf="postTitle.errors.required">{{'post.titlevalreq'|translate}}</span>
                      <span *ngIf="postTitle.errors.maxlength">{{'post.titlevalmax'|translate}}</span>
                  </span>
              </div>
            </div>
            <div class="form-group row" id="step11">
              <label for="postExcerpt" class="col-sm-3 col-form-label">{{'post.excerpt'|translate}}*</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="postExcerpt"  [placeholder]="'post.excerptplaceholder'|translate" formControlName="postExcerpt"
                         [ngClass]="{'is-invalid':(postExcerpt.touched || postExcerpt.dirty) && !postExcerpt.valid}" />
                  <span class="invalid-feedback" *ngIf="postExcerpt.invalid && (postExcerpt.touched || postExcerpt.dirty) ">
                      <span *ngIf="postExcerpt.errors.required">{{'post.excerptValreq'|translate}}</span>
                      <span *ngIf="postExcerpt.errors.maxlength">{{'post.excerptValmax'|translate}}</span>
                  </span>
              </div>
            </div>
            <div class="form-group row" id="step2">
                <label for="file" class="col-sm-3 col-form-label">{{'post.image'|translate}}</label>
                <div class="col-sm-9" *ngIf="!hasImageHeader">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">{{'post.upload'|translate}}</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="file" accept="image/*" name="file" (change)="handleInputChange($event)">
                          <label class="custom-file-label" for="inputGroupFile01">{{'post.choose'|translate}}</label>
                        </div>
                      </div>
                </div>
                <div class="col-sm-9" *ngIf="hasImageHeader">
                  <img [src]="postImageContent" class="img-tumb" alt="Current image header"> &nbsp;
                  <button class="btn btn-outline-danger align-top" type="button" (click)="removeImageHeader()" title="{{'post.remove'|translate}}">
                    <i class="far fa-times-circle" ></i></button>
              </div>
            </div>

            <div class="form-group row" id="step3">
              <label for="status" class="col-sm-3 col-form-label">Status*:</label>
              <div class="col-sm-9">
                <select class="custom-select" aria-describedby="estatusHelp" formControlName="status"
                      [ngClass]="{'is-invalid':(status.touched || status.dirty) && !status.valid}">
                  <option *ngFor="let s of catStatus" [value]="s.value"> {{s.name}}</option>
                </select>
                  <span class="invalid-feedback" *ngIf="status.invalid && (status.touched || status.dirty) ">
                      <span *ngIf="status.errors.required">{{'post.titlevalreq'|translate}}</span>

                  </span>
              </div>
            </div>

             <!--<div class="form-group row">
              <label for="postContent" class="col-sm-3 col-form-label">Start to write great content below!</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="postContent" placeholder="Content" formControlName="postContent"
                         [ngClass]="{'is-invalid':(postContent.touched || postContent.dirty) && !postContent.valid}" />
                  <span class="invalid-feedback" *ngIf="postContent.invalid && (postContent.touched || postContent.dirty) ">
                      <span *ngIf="postContent.errors.required">Blog description is required.</span>
                      <span *ngIf="postContent.errors.maxlength">Max blog description length 1024.</span>
                  </span>
              </div>
            </div>-->
            <h6>{{'post.posttext'|translate}}</h6>
            <div class="form-group row" id="step4">
              <div class="col-sm-12 text-dark" >
                <ckeditor [editor]="Editor" formControlName="postContent"   [config]="ckconfig" ></ckeditor>
              </div>
            </div>

            <div class="form-group row" id="step5">
              <label for="file" class="col-sm-3 col-form-label">{{'post.attached'|translate}}</label>
              <div class="col-sm-9" >
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">{{'post.upload'|translate}}</span>
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="attachedFile" accept="image/*" name="attachedFile" (change)="handleAttachedFile($event)">
                        <label class="custom-file-label" for="inputGroupFile02">{{'post.choose'|translate}}</label>
                      </div>
                    </div>
              </div>
              <label for="file" class="col-sm-3 col-form-label">&nbsp;</label>
              <div class="col-sm-9" >
                <ul class="list-group">
                  <li class="list-group-item"  *ngFor="let f of attachedFiles">
                    <button title="{{'post.download'|translate}}" type="button" class="btn btn-link" (click)="downloadAttachedFile(f)" title="Dowload file">{{f.name}}</button>

                    <button title="{{'post.remove'|translate}}" type="button" class="btn btn-danger" (click)="deleteAttachedFile(f)" title="Delete file" ><i class="fas fa-trash"></i></button>
                  </li>

                </ul>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-danger" >
              <span class="small text-info">{{'post.instruction'|translate}}</span>
            </div>


          </div>
            <div class="float-md-right" id="step6">
              <button type="button" class="btn btn-outline-secondary" (click)="close()" title="Cancel changes"  >{{'post.cancel'|translate}}</button>&nbsp;
              <button type="button" (click)="save()" class="btn btn-primary"  title="Save changes">{{'post.save'|translate}}</button>
            </div>

          </form>
        </div>
      </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>