<button  title="Help" class="btn btn-link float-button" (click)="startTour(true)">
  <i class="fas fa-question fa-2x"></i>
</button>
<button id="step4-read" title="Help" class="btn btn-link float-share" type="button" title="Share post" data-toggle="modal" data-target="#share" (click)="sharePost()" [disabled]="(Post?.status=='0')">
  <i class="fas fa-share-alt fa-2x"></i>
</button>
<button id="step5" class="btn btn-link float-comment" type="button" title="Reply post" data-toggle="modal" data-target="#comment" (click)="commentPost()" [disabled]="Post?.status=='0'" >
  <i class="far fa-comment-dots fa-2x"></i>
</button>
<button title="Return" type="button small" class="btn btn-link float-return" (click)="close()" *ngIf="!isShareURL" >
  <i class="fas fa-arrow-left fa-2x"></i>
</button>  

<div class="container top-padding">
  <div class="like-lateral" >
    <app-post-interaction *ngIf="Post"  [Post]="Post"></app-post-interaction>
  </div>
  <div *ngIf="!isMissingPost">
    <div class="card shadow postReader"   [ngClass]="{
      'bg-dark':selectedTheme=='dark',
      'bg-light':selectedTheme=='light',
      'text-light':selectedTheme=='dark',
      'text-dark':selectedTheme=='light'
    }">
      <div class="card-header" id="step1">
          <div class="row">
              <div class="col-lg-2">
                  <img [src]="imageContent"  class="img-fluid img-post" alt="" *ngIf="imageContent">
          
              </div>
              <div class="col-lg-10 header">
                <h1>{{title}}</h1>
                  <label class="text-muted text-right font-weight header-content">{{date | date:'medium' }}</label>
                  <label class="text-muted text-right font-weight header-content-left"><span>By:</span> {{author}} </label>
              </div>
          </div>
      </div>
      <div class="card-body  ">
        <div class="row">
          <div class="col-12">
              <div id="step2" [innerHTML]="content|safeHtml"></div>
          </div>
          
          <div class="col-12 mt-5" *ngIf="attachedFiles?.length > 0">
           
            <h6>Attached files</h6>
            <ul class="list-group">
              <li class="list-group-item"  *ngFor="let f of attachedFiles">
                <button type="button" class="btn btn-link" (click)="downloadAttachedFile(f)" title="Dowload file">{{f.name}}</button>
              </li>
            </ul>
          </div>
        </div>
      
        <div class="pt-3">
          &nbsp;
        </div>
      </div>
      
  <div class="card-footer"  id="step3">
   
      <h3>Comments </h3>
      <br>
      <div *ngIf="comments?.length === 0" class="alert alert-warning pt-3" role="alert">
          <div class="align-middle">
            <label >No comments yet!</label>&nbsp;<label *ngIf="!isSignIn"> You need to login to comment on this post.</label>
            <a class="btn btn-link manita text-primary mb-1" (click)="commentPost(true)">Reply</a>
          </div>
  
      </div>
      <!-- <div id="commentN-1"></div> -->
      <div  *ngIf="comments?.length > 0">
        <div *ngFor="let c of comments; let i= index"  >
          <div id="{{'commentN'+i}}" class="text-dark">
          <app-comment-reader [Comment]="c" (deleteComment)="onDeleteComent($event)" 
          (updateComment)="onUpdateComment($event)" 
          (cancelComment)="onCancelComment($event)"
          (closeComments)="onCloseComments($event)"></app-comment-reader>
        </div>
        </div>
      </div>
  </div>
    </div>
  </div>
  <div *ngIf='isMissingPost'>
      <div class="align-middle mt-5" >
          <p class="alert alert-warning text-center" role="alert">The requested Post does not exist or is not published</p>
       </div>
  </div>
 


    <!-- Modal share -->
  <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{shareTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-blog-share [Post]="Post" ></app-blog-share>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>

 
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>