.float-bar{
    position:fixed;
	
	top:180px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.stack-site{
    position: absolute;
    top: 0px;
	right: 0px;
	font-size: .65rem;
}

.unlike{
    margin: 0px;
    padding: 0px;
}

.like{
    margin: 0px;
    padding: 0px;
}



$primary: blueviolet !default;

.float-like{
    position: fixed;
    width:60px;
    height:60px;
    top:340px;
    right:20px;
    background-color:$primary;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
	z-index: 1001;
	font-size: 2rem;
  }
  
  .float-unlike{
    position: fixed;
    width:60px;
    height:60px;
    top:410px;
    right:20px;
    background-color:$primary;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
  }
  