<div class="container top-padding">
  <div *ngIf="!isMissingPost">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
                <img [src]="imageContent"  class="img-fluid img-post" alt="" *ngIf="imageContent">
        
            </div>
            <div class="col-lg-10 header">
              <h1>{{title}}</h1>
                <label class="text-muted text-right font-weight-lighter header-content">{{date | date:'medium' }}</label>
                <label class="text-muted text-right font-weight-lighter header-content-left"><span>By:</span> {{author}} </label>
            </div>
        </div>
      </div>
    
    </div>
    <br/>

    <div class="card shadow">
      <div class="card-body">
        <div [innerHTML]="content|safeHtml" class="text-capitalize"></div>
        <hr>
        <div class="float-md-right">
            <app-post-interaction *ngIf="isShareURL" [Post]="_post"></app-post-interaction>
          <button type="button small" class="btn btn-outline-secondary" (click)="close()" *ngIf="!isShareURL" >Return</button>&nbsp;
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='isMissingPost'>
      <div class="align-middle mt-5" >
          <p class="alert alert-warning text-center" role="alert">The requested Post does not exist or is not published</p>
       </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>