<div class="container top-padding">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="row">
          <div class="col-lg-2">
              <img [src]="imageContent"  class="img-fluid img-post" alt="" *ngIf="imageContent">
      
          </div>
          <div class="col-lg-10 header">
            <h1>{{title}}</h1>
              <label class="text-muted text-right font-weight-lighter header-content">{{date | date:'medium' }}</label>
              <label class="text-muted text-right font-weight-lighter header-content-left"><span>By:</span> {{author}} </label>
          </div>
      </div>
    </div>
    
  </div>
  <br/>

  <div class="card shadow">
      <div class="card-body">
        <div [innerHTML]="content" class="text-capitalize"></div>
          <div class="float-md-right">
            <button type="button small" class="btn btn-outline-secondary" (click)="close()"  >Return</button>&nbsp;
            
          </div>
  
      </div>
    </div>
</div>