
.img-post{
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.header{
    position: relative;
    min-height: 150px;
}

.header-content {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
  }
  .header-content-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
  }



  .top-padding{
    padding-top: 100px!important;
}



.postReader{
  width: 100%;
}


$primary: #B394DC !default;

.float-share{
  position: fixed;
  width:60px;
  height:60px;
  top:100px;
  right:20px;
  background-color:$primary;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1001;
}


.float-comment{
  position: fixed;
  width:60px;
  height:60px;
  top:170px;
  right:20px;
  background-color:$primary;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1001;
}
