<div *ngIf="isInteractionsReady">
  <button class="btn btn-link unlike" (click)="unlike()" title="I don't like it!">
    <span class="fa-stack fa-2x">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-frown-open fa-stack-1x fa-inverse"></i>
      <span class="badge badge-dark stack-site">{{interactions?.unlikeCount}}</span>
    </span>
  </button>
  <button class="btn btn-link like" (click)="like()" title="I like it!">
    <span class="fa-stack fa-2x">
      <i class="fas fa-square fa-stack-2x"></i>
      <i class="fas fa-grin-hearts fa-stack-1x fa-inverse"></i>
      <span class="badge badge-dark stack-site">{{interactions?.likeCount}}</span>
    </span>
  </button>
</div>
