.float-bar{
    position:fixed;
	
	top:180px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

:host-context(.like-lateral) .stack-site{
    position: absolute;
    top: 0px;
	right: 0px;
	font-size: .65rem;
}

.unlike{
    margin: 0px;
    padding: 0px;
}

.like{
    margin: 0px;
    padding: 0px;
}



$primary: blueviolet !default;
//:host-context(.like-lateral) 
.float-like{
    //position: fixed;
    // width:60px;
     height:38px;
    // top:340px;
    // right:20px;
    //background-color:$primary;
    //color:#FFF;
    //border-radius:50px;
    text-align:center;
    //box-shadow: 2px 2px 3px #999;
	//z-index: 1001;
	//font-size: 2rem;
  }
  
  :host-context(.like-lateral) .float-unlike{
    position: fixed;
    width:60px;
    height:60px;
    top:410px;
    right:20px;
    background-color:$primary;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1001;
  }
  

  :host-context(.like-inline) .float-like{
    color:#FFF;
    background-color:$primary;
    border-radius:25px;
    height:37px;
    width:40px;
    box-shadow: 2px 2px 3px #999;
    margin-left: 5px;
    z-index: 1001;
    font-size: 1rem;
    
}

// :host-context(.like-inline) 
 .stack-site{
    font-size: .65rem;
    position: relative;
    top: -40px;
    right: -17px;
}
